.icon {
  display: inline-block;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 24px 24px;

  &--white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }

  &--black {
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(165deg) brightness(89%) contrast(105%);  
  }

  &--gray {
    filter: invert(69%) sepia(0%) saturate(4056%) hue-rotate(196deg) brightness(92%) contrast(77%);
  }

  &--green {
    filter: invert(40%) sepia(96%) saturate(321%) hue-rotate(107deg) brightness(94%) contrast(96%);
  }

  &--disabled {
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(165deg) brightness(89%) contrast(105%);  
  }
  
  &--extra-small {
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
  }
  
  &--small {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  }
  
  &--medium {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}

.camera {
  background-image: url('./../icons/camera.svg');
}

.edit {
  background-image: url('./../icons/edit.svg');
}

.plus {
  background-image: url('./../icons/plus.svg');
}

.trash {
  background-image: url('./../icons/trash.svg');
}

.double-arrow-left {
  background-image: url('./../icons/double-arrow-left.svg');
}

.double-arrow-right {
  background-image: url('./../icons/double-arrow-right.svg');
}

.search {
  background-image: url('./../icons/search.svg');
}
