// Colors
$bg: #F5F7F9; // background
$gray-0: #FEFEFE; // user list background
$gray-1: #F8F9FA; // search bar background
$gray-2: #F6F7F9; // odd user list items
$gray-3: #ADB5BC; /// item action color
$gray-4: #747474; /// darkest gray
$black: #040404; // primary text color
$accent: #1D8F66; // accent color
$accent-dark: #107b54; // accent color

// Breakpoints
$lg: 1024px;
$md: 768px;
$sm: 640px;

// Font Family
$family-normal: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


// Box Shadow
$gray-shadow: 0 0 4px rgba(0, 0, 0, 0.04);